antlr4-python3-runtime
Brotli
cachetools==6.2.0
certifi
cffi
charset-normalizer
cssselect==1.3.0
cssutils==2.11.1
feedparser 
h2
hpack
hyperframe
idna
lxml==6.0.2
more-itertools==10.8.0
numpy
omegaconf
pandas
premailer==3.10.0
pycparser
PySocks
python-dateutil
pytz
PyYAML
requests
setuptools==80.9.0
sgmllib3k
six
typing_extensions
tzdata
urllib3
wheel==0.45.1
win_inet_pton
yagmail
zstandard==0.25.0
